@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Honk:SHLN@47.1&display=swap");

@font-face {
  font-family: "Honk";
  src: url("/public/Honk-Regular.ttf");
}

.gradient-background {
  background-image: linear-gradient(
    to right,
    rgba(45, 212, 191, 0.5),
    rgba(37, 99, 235, 0.5)
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
